.main-div {
  margin: auto;
  opacity: 100%;
  margin: auto;
  max-width: 360px;
  min-width: 200px;
  display: block;
  padding-top: 70px;
}
.error {
  color: red;
}


.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  vertical-align: middle;
}

.mainPage {
  .contactsScreen {
    padding: 40px 0px 40px 0px;
    background: #f8f9fa;
    .contactHeader {
      color: #1a3565;
      padding-left: 3px;
    } 
    vr {
      height: 35px;
      width: 3px;
      display: flex;
      background: #49ba7d;
      border: 1px solid;
      color: #49ba7d;
    }
    hr {
      margin: 10px 0px 50px 0px;
    }
    .topSection {
      justify-content: space-between;
      .leftSection {
        color: #1a3565;
      }
      .rightSection {
        display: grid;
        text-align: center;
        a {
          padding: 10px;
          color: #1a3565;
          &:hover {
            color: #000;
          }
        }
        .addContacts {
          width: 200px;
          background: #1a3565;
          border: 1px solid #1a3565;
          color: white;
          height: 40px;
          cursor: pointer;
          outline: none;
          border-radius: 30px;
          &:hover {
            color: #1a3565;
            background-color: #fff;
          }
          .uploadDoc {
            position: absolute;
            right: 19px;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
    } 
    .mainSection{
      background: white;
      padding: 100px;
      .content {
        width: 6rem;
        margin: auto;
        .profileIcon {
          padding-bottom: 20px;
          .profileImage {
                  width: 100%;
                  border-radius: 50px;
          }
        }
      }
      .csvScreen {
        width: 13rem;
        .firstPart {
          display: flex;
          justify-content: center;
          h5 {
            color: #49ba7d;
            margin: auto;
          }
          i {
            padding-left: 5px;
            font-size: 32px;
            color: #49ba7d;
          }
        }
        .secondPart {
          display: flex;
          justify-content: center;
          padding: 30px;
          h5 {
            color: #49ba7d;
            margin: auto;
            span {
              color: red;
            }
          }
          i {
            padding-right: 5px;
            font-size: 32px;
            color: #49ba7d;
          }
        }
        .downloadCSV {
          width: 200px;
          background: #49ba7d;
          border: 1px solid #49ba7d;
          color: #000;
          height: 40px;
          cursor: pointer;
          outline: none;
          font-weight: bold;
          border-radius: 10px;
          &:hover {
            color: #49ba7d;
            background-color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width:567px) {
  .contactHeader {
    text-align: center;
  }
  .mainPage {
    .contactsScreen {
      .mainSection {
        padding: 20px;
        .csvScreen {
          .firstPart {
            h5 {
              font-size: 12px;
            }
          }
          .secondPart {
            flex-direction: row-reverse;
            position: relative;
            padding-left: inherit;
            i {
              position: absolute;
              right: -5px;
            }
            h5 {
              font-size: 12px;
              display: flex;
              flex-direction: column;
            }
          }
        }
        .contents {
          font-size: 11px;
        }
      }
      .topSection {
        flex-direction: column-reverse;
        text-align: center;
        .leftSection {
          padding: inherit;
        }
        .rightSection {
          justify-content: center;
        }
      }
    }
  }
}