.App {
  text-align: center;
  height: 100%;
}
/* #root {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
} */
.individual_vehicle {
  background: #000;
}
.rootdiv {
  flex: 1;
  height: 103%;
  overflow-y: scroll;
  /*background: linear-gradient(288deg, rgba(255,255,255,1) -40%, rgba(29,9,200,3) 100%);*/
  /*background-color: #F0F0F7; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
