html {
  height: 100%;
}
body {
  height: calc(100% - 10px - 0px);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-header .navbar {
  background-color: #ddd;
}
.main-header .logo {
  background-color: #ddd;
}
.main-sidebar {
  background-color: #ddd;
}
a {
  color: #727882;
}

.login-form {
  top: 214px;
  left: 747px;
  width: 426px;
  height: 652px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  margin-top: 214px;
}

.approot {
  height: 100%;
}
.button_ui {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  color: #707070;
}
.link_ui {
  text-align: left;
  text-decoration: underline;
  font: Bold 11px/15px Segoe UI;
  letter-spacing: 0;
  color: #0267ff;
  opacity: 1;
}
.input_ui {
  left: 807px;
  width: 307px;
  height: 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
.center-text {
  text-align: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
